<!DOCTYPE html>
<html>
  <body>
    <h2 id="h2-header">Import Recipe</h2>
    <form method="POST" action="/fetch">
      Ingredient:<br>
      <input type="text" name="ingredient">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
