<ol>
  <% @recipes.each_with_index do |recipe, index| %>
  <%is_read = recipe.read == "true" ? "[x]" : "[ ]"%>
  <li>
    <a href="<%= "/recipe/#{index}" %>"><%= "#{is_read} #{recipe.name}: #{recipe.difficulty} (#{recipe.cooktime})" %></a> - <button><a href="/recipes/<%=index%>">Destroy</a></button> - <button><a href="/read/<%=index%>">Mark as Read</a></button>
  </li>
<% end %>
</ol>
<button><a href="/new">Add New Recipe</a></button>
<button><a href="/import">Import Recipe</a></button>

