<!DOCTYPE html>
<html>
  <body>
    <h2 id="h2-header">Add New Recipe</h2>
    <form method="POST" action="/recipes">
      Name:<br>
      <input type="text" name="name">
      <br>
      Description:<br>
      <input type="text" name="description">
      <br>
      Cooktime:<br>
      <input type="text" name="cooktime">
      <br>
      Difficulty:<br>
      <input type="text" name="difficulty">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
